html {
    background-color: black;
    
}


h1 {
    font-size: 40px;
}

.meme{
    /* width: 100%; */
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
    color: white;
}
img{
    width: 600px;
    border: solid white 5px;
    margin-top: 3rem;
    

}